# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
a=[1,2,3,4,5,6,7,8,9,10]
series = pd.Series(a)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [4]:
data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
       }

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
In the pandas library, a DataFrame is a two-dimensional data structure that represents tabular data, similar to a table in a relational database or a spreadsheet. It is a primary data structure used for data manipulation and analysis. A DataFrame consists of rows and columns, where each column can have a different data type (such as numeric, string, boolean, etc.). It is a powerful tool for handling and organizing structured data.

On the other hand, a Series is a one-dimensional labeled array in pandas. It can be thought of as a single column of a DataFrame. Each element in a Series is associated with a unique index label. Series are commonly used for representing a single variable or a column of data. They can hold homogeneous data types.

In [7]:
data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df)
print()
data = pd.Series([10, 20, 30, 40, 50])
print(data)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   35     Paris

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

- head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and contents of the data.

- describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It provides insights into the distribution and summary of the data.

- fillna(): This function fills missing or NaN (Not a Number) values in the DataFrame with a specified value or using various filling techniques like forward filling or backward filling.

- drop(): This function allows you to remove specific rows or columns from the DataFrame. It is useful for eliminating unnecessary or redundant data.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- Series: A Series is mutable, meaning its values can be modified after creation. You can change, update, or add values to a Series using indexing or assignment operations.

- DataFrame: Similar to Series, a DataFrame is mutable. You can modify its values, add or remove columns, and perform various operations to manipulate the data within the DataFrame.

- Panel: In contrast, a Panel is not mutable. It is a three-dimensional data structure that is similar to a DataFrame but with an additional axis.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series in pandas, you can pass a dictionary of Series objects to the DataFrame constructor. Each Series will represent a column in the DataFrame, and the keys of the dictionary will become the column names.

In [10]:
name = pd.Series( ['John', 'Jane', 'Mike'])
age = pd.Series( [25, 30, 35])
city = pd.Series(['New York', 'London', 'Paris'])
df = pd.DataFrame({'Name':name,'Age':age,'City':city})
df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   35     Paris